body {
  background-color: #9d41f4;
}
}
header {
    text-align: center;
    border: 6px solid black;
    margin: 20px;
section {
    text-align: center;
    margin: 20px;
    border: 6px solid black;
}
ul {
  list-style-position: inside;
}
ol{
  list-style-position: inside;
}
p {
  border:8px double black;
}
a {
  margin: 20px;
}
